<!DOCTYPE html>
<html>
 {% load staticfiles %}
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>View Exercise</title>
	<!-- bootstrap -->
	<link href="{% static 'assets/css/bootstrap/bootstrap.css'%}" rel="stylesheet" />

	<!-- libraries -->
	<link href="{% static 'assets/css/libs/font-awesome.css'%}" type="text/css" rel="stylesheet" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/layout.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/elements.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/video-default.css'%}">

	<!-- this page specific styles -->
	<link rel="stylesheet" href="{% static 'assets/css/libs/datepicker.css'%}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/libs/daterangepicker.css'%}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/libs/bootstrap-timepicker.css'%}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/libs/select2.css'%}" type="text/css" />

	<!-- google font libraries -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
	
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49262924-1', 'phoonio.com');
	  ga('send', 'pageview');

	
		
	</script>
</head>
<body>
	<header class="navbar" id="header-navbar">
		<div class="container">
			<a href="#" id="logo" class="navbar-brand col-md-3 col-sm-3 col-xs-12">
				<img style="width: 30px;margin-top: -5px;" src="{% static 'assets/img/trainmefit.png'%}" alt=""><span>TrainMeFit</span>
			</a>
			
			<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			
			<div class="nav-no-collapse pull-right" id="header-nav">
				<ul class="nav navbar-nav pull-right">
					<li class="mobile-search">
						<a class="btn">
							<i class="fa fa-search"></i>
						</a>
						
						<div class="drowdown-search">
							<form role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search...">
									<i class="fa fa-search nav-search-icon"></i>
								</div>
							</form>
						</div>
						
					</li>
					<li class="dropdown hidden-xs">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-warning"></i>
							<span class="count">8</span>
						</a>
						<ul class="dropdown-menu notifications-list">
							<li class="pointer">
								<div class="pointer-inner">
									<div class="arrow"></div>
									<div class="arrow-border"></div>
								</div>
							</li>
							<li class="item-header">You have 6 new notifications</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-comment"></i>
									<span class="content">New comment on ‘Awesome P...</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-plus"></i>
									<span class="content">New user registration</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-envelope"></i>
									<span class="content">New Message from George</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-shopping-cart"></i>
									<span class="content">New purchase</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-eye"></i>
									<span class="content">New order</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item-footer">
								<a href="#">
									View all notifications
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown hidden-xs">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="count">16</span>
						</a>
						<ul class="dropdown-menu notifications-list messages-list">
							<li class="pointer">
								<div class="pointer-inner">
									<div class="arrow"></div>
									<div class="arrow-border"></div>
								</div>
							</li>
							<li class="item first-item">
								<a href="#">
									<img src="img/samples/messages-photo-1.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											George Clooney
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<img src="img/samples/messages-photo-2.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											Emma Watson
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<img src="img/samples/messages-photo-3.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											Robert Downey Jr.
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item-footer">
								<a href="#">
									View all messages
								</a>
							</li>
						</ul>
					</li>
					<li class="hidden-xs">
						<a class="btn">
							<i class="fa fa-cog"></i>
						</a>
					</li>
					<li class="dropdown profile-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="img/samples/profile-photo.png" alt=""/>
							<span class="hidden-xs">Scarlett Johansson</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
							<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
							<li><a href="/sign-out-admin/"><i class="fa fa-power-off"></i>Logout</a></li>
						</ul>
					</li>
					<li class="hidden-xxs">
						<a href="/sign-out-admin/" class="btn">
							<i class="fa fa-power-off"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-2" id="nav-col">
				<section id="col-left">
					<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a href="/dashboard/">
									<i class="fa fa-dashboard"></i>
									<span>Dashboard</span>
								</a>
							</li>
							<li>
								<a href="/user-section/">
									<i class="fa fa-users"></i>
									<span>Customers</span>
									
								</a>								
							</li>
							<li>
								<a href="/program-list/">
									<i class="fa fa-calendar"></i>
									<span>Programs</span>
								</a>
							</li>
							<li>
								<a href="/workout/">
									<i class="fa fa-star-o"></i>
									<span>Workouts</span>
								</a>

							</li>
							<li>
								<a href="/exercise-list/" >
									<i class="fa fa-rocket"></i>
									<span>Exercises</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-gbp"></i>
									<span>Payments</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-gears"></i>
									<span>Services</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-table"></i>
									<span>Master Tables</span>
								</a>
							</li>
							
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-md-10" id="content-wrapper">
				<div class="row">
					<div class="col-lg-12">
					
						<h1>Exercise</h1>
					<div class="row">
							<div class="col-lg-9">
								<div class="main-box">
									
							    <div class="clearfix">
										<h2 class="pull-left">View Exercise </h2>
										
										<div class="filter-block pull-right">		
											<a href="exercises.html" class="btn btn-primary pull-right" style="width: 175px;">
												<i class="fa  fa-lg"></i>Previous
											</a>
											<a href="edit-exercise.html" class="btn btn-primary pull-right" style="width: 175px;">
												<i class="fa  fa-lg"></i>Edit
											</a>
										</div>
									</div>
									
									
									<form role="form">
										<div class="form-group">
											<label for="exampleInputEmail1">Exercise Name</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="Barbell bench press" readonly>
										</div>
									
                             <div class="form-group form-group-select2">
                             <div class="row">
                             <div class="col-lg-4">
											<label>Body Part</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="Chest" readonly>
										</div>	
											
										
										 <div class="col-lg-4">
											<label> Gender</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="Male" readonly>	
										</div>
										
										<div class="col-lg-4">
										  <label>Exercise Category</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="Muscle Gain" readonly>
											</div>
											</div>
										</div>
										
										<div class="row">
										  <div class="col-lg-6">
												<label>Gym Access</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="Yes" readonly>		 		
											</div>	
								
											<div class="col-lg-6">											   
											   <div class="form-group">
											<label for="exampleInputEmail1">Exercise Time</label>
											<input type="text" class="form-control" id="exampleInputEmail1" value ="00:02:00" readonly>	
										
										</div>
										</div>	   											
										</div>										
																
										<div class="form-group">	
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
															<i></i>Exercise Instructions
														</a>
													</h4>
												</div>
													<div style="height: auto;" id="collapseOne" class="panel-collapse collapse in">
														<div class="panel-body">
															 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id. 
															<br>
															<br>
															Ut tincidunt elit vitae eleifend blandit. Aenean condimentum neque libero, vehicula sodales massa porta tincidunt. Vestibulum quis felis eget ante fringilla interdum. Pellentesque vehicula neque a libero porta cursus a a neque. Sed vitae lectus urna. Vivamus rutrum ex in purus lacinia vehicula. Fusce mollis sapien sit amet ipsum blandit, ac tristique erat aliquam.  
														</div>
													</div>
											</div>											
									</div>							  														
							 </form>
						</div>	
					</div>
									
						 <div class="col-lg-3">
							<div class="main-box" style="min-height: 0px;">
								<h2>Video</h2>
									<video width="212" height="150" controls>
 										 <source src="/home/SAGAR/TrainMeFit/Media/MVI_0826.mov" type="video/mp4">
									</video>		
							</div>
	   				 </div>
	   				 
					  </div>								
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer-bar">
		<p id="footer-copyright">
			&copy; 2015-16 <a href="http://www.adbee.sk/" target="_blank">TrainMeFit</a>
		</p>
	</footer>
	
	<!-- global scripts -->
	<script src="{% static 'assets/js/jquery.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.js'%}"></script>
	<script src="{% static 'assets/js/dropzone.js'%}"></script>
	
	<!-- this page specific scripts -->
	<script src="{% static 'assets/js/jquery.maskedinput.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap-datepicker.js'%}"></script>
	<script src="{% static 'assets/js/moment.min.js'%}"></script>
	<script src="{% static 'assets/js/daterangepicker.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap-timepicker.min.js'%}"></script>
	<script src="{% static 'assets/js/select2.min.js'%}"></script>
	<script src="{% static 'assets/js/hogan.js'%}"></script>
	<script src="{% static 'assets/js/typeahead.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.pwstrength.js'%}"></script>
	<script src="{% static 'assets/js/ckeditor/ckeditor.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.video-ui.js'%}"></script>	
	<!-- theme scripts -->
	<script src="{% static 'assets/js/scripts.js'%}"></script>
	
	<!-- this page specific inline scripts -->
	<script>
	$(function($) {
		//tooltip init
		$('#exampleTooltip').tooltip();


		$('#demo').videoUI({
	'autoHide':false,
	'volumeMedia': 
	})

		//nice select boxes
		$('#sel2').select2();
		$('#sel3').select2();
		$('#sel4').select2();
		$('#sel5').select2();
		
		$('#sel2Multi').select2({
			placeholder: 'Select a Country',
			allowClear: true
		});
	
		//masked inputs
		$("#maskedDate").mask("99/99/9999");
		$("#maskedPhone").mask("(999) 999-9999");
		$("#maskedPhoneExt").mask("(999) 999-9999? x99999");
		$("#maskedTax").mask("99-9999999");
		$("#maskedSsn").mask("999-99-9999");
		
		$("#maskedProductKey").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});
		
		$.mask.definitions['~']='[+-]';
		$("#maskedEye").mask("~9.99 ~9.99 999");
	
		//datepicker
		$('#datepickerDate').datepicker({
		  format: 'mm-dd-yyyy'
		});

		$('#datepickerDateComponent').datepicker();
		
		//daterange picker
		$('#datepickerDateRange').daterangepicker();
		
		//timepicker
		$('#timepicker').timepicker({
			minuteStep: 5,
			showSeconds: true,
			showMeridian: false,
			disableFocus: false,
			showWidget: true
		}).focus(function() {
			$(this).next().trigger('click');
		});
		
		//autocomplete simple
		$('#exampleAutocompleteSimple').typeahead({                              
			prefetch: '/data/countries.json',
			limit: 10
		});
		
		//autocomplete with templating
		$('#exampleAutocomplete').typeahead({                              
			name: 'twitter-oss',                                                        
			prefetch: '/data/repos.json',                                             
			template: [                                                              
				'<p class="repo-language">{{language}}</p>',                              
				'<p class="repo-name">{{name}}</p>',                                      
				'<p class="repo-description">{{description}}</p>'                         
			].join(''),                                                                 
			engine: Hogan                                                               
		});
		
		//password strength meter
		$('#examplePwdMeter').pwstrength({
			label: '.pwdstrength-label'
		});
		
	});
	</script>
</body>
</html>