<!DOCTYPE html>
<html>
 {% load staticfiles %}
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Add Program</title>
	
    <!-- bootstrap -->
    <link href="{% static 'assets/css/bootstrap/bootstrap.css'%}" rel="stylesheet" />

    <!-- libraries -->
    <link href="{% static 'assets/css/libs/font-awesome.css'%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/layout.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/elements.css'%}">

    <!-- google font libraries -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="{% static 'assets/css/libs/select2.css'%}" type="text/css" />
  
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49262924-1', 'phoonio.com');
	  ga('send', 'pageview');

	</script>
<style type="text/css">
	.modal-field {
	width:100%;
	}
</style>
</head>
<body>
	<header class="navbar" id="header-navbar">
		<div class="container">
			<a href="#" id="logo" class="navbar-brand col-md-3 col-sm-3 col-xs-12">
				<img style="width: 30px;margin-top: -5px;" src="{% static 'assets/img/trainmefit.png'%}" alt=""><span>TrainMeFit</span>
			</a>
			
			<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			
			<div class="nav-no-collapse pull-right" id="header-nav">
				<ul class="nav navbar-nav pull-right">
					<!-- <li class="mobile-search">
						<a class="btn">
							<i class="fa fa-search"></i>
						</a>
						
						<div class="drowdown-search">
							<form role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search...">
									<i class="fa fa-search nav-search-icon"></i>
								</div>
							</form>
						</div>
						
					</li>
					<li class="dropdown hidden-xs">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-warning"></i>
							<span class="count">8</span>
						</a>
						<ul class="dropdown-menu notifications-list">
							<li class="pointer">
								<div class="pointer-inner">
									<div class="arrow"></div>
									<div class="arrow-border"></div>
								</div>
							</li>
							<li class="item-header">You have 6 new notifications</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-comment"></i>
									<span class="content">New comment on ‘Awesome P...</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-plus"></i>
									<span class="content">New user registration</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-envelope"></i>
									<span class="content">New Message from George</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-shopping-cart"></i>
									<span class="content">New purchase</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<i class="fa fa-eye"></i>
									<span class="content">New order</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item-footer">
								<a href="#">
									View all notifications
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown hidden-xs">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="count">16</span>
						</a>
						<ul class="dropdown-menu notifications-list messages-list">
							<li class="pointer">
								<div class="pointer-inner">
									<div class="arrow"></div>
									<div class="arrow-border"></div>
								</div>
							</li>
							<li class="item first-item">
								<a href="#">
									<img src="img/samples/messages-photo-1.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											George Clooney
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<img src="img/samples/messages-photo-2.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											Emma Watson
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item">
								<a href="#">
									<img src="img/samples/messages-photo-3.png" alt=""/>
									<span class="content">
										<span class="content-headline">
											Robert Downey Jr.
										</span>
										<span class="content-text">
											Look, just because I don't be givin' no man a foot massage don't make it 
											right for Marsellus to throw...
										</span>
									</span>
									<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
								</a>
							</li>
							<li class="item-footer">
								<a href="#">
									View all messages
								</a>
							</li>
						</ul>
					</li>
					<li class="hidden-xs">
						<a class="btn">
							<i class="fa fa-cog"></i>
						</a>
					</li> -->
					<li class="dropdown profile-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="img/samples/profile-photo.png" alt=""/>
							<span class="hidden-xs">{{ request.session.login_user }}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
							<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
							<li><a href="/sign-out-admin/"><i class="fa fa-power-off"></i>Logout</a></li>
						</ul>
					</li>
					<li class="hidden-xxs">
						<a href="/sign-out-admin/" class="btn">
							<i class="fa fa-power-off"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-2" id="nav-col">
				<section id="col-left">
					<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a href="/dashboard/">
									<i class="fa fa-dashboard"></i>
									<span>Dashboard</span>
								</a>
							</li>
							<li>
								<a href="/user-section/">
									<i class="fa fa-users"></i>
									<span>Customers</span>
									
								</a>								
							</li>
							<li>
								<a href="/program-list/">
									<i class="fa fa-calendar"></i>
									<span>Programs</span>
								</a>
							</li>
							<li>
								<a href="/workout/">
									<i class="fa fa-star-o"></i>
									<span>Workouts</span>
								</a>

							</li>
							<li>
								<a href="/exercise-list/" >
									<i class="fa fa-rocket"></i>
									<span>Exercises</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-gbp"></i>
									<span>Payments</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-gears"></i>
									<span>Services</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-table"></i>
									<span>Master Tables</span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-md-10" id="content-wrapper">
			<form role="form"  action="/add-new-program/" method="POST" onsubmit="return validateAndUpdateProgWorkList()" >
			<input type="hidden" name="program_workout_list" id="program_workout_list"></input>
			<input type="hidden" name="program_workout_day_list" id="program_workout_day_list"></input>
				<div class="row">
					<div class="col-lg-12">
					
						<div class="clearfix">
							<h1 class="pull-left">Programs</h1>						
						</div>
								<div class="main-box clearfix">
								   <div class="row">
										<div class="clearfix">
											<h2 class="pull-left">Add Program</h2>
											
											<div class="filter-block pull-right">
												<a href="/program-list/" class="btn btn-primary pull-right" style="width: 175px;">
													<i class="fa  fa-lg"></i>Cancel
												</a>	
													<input type="submit" class="btn btn-primary pull-right" style="width: 175px;" value="Save">
														<i class="fa  fa-lg"></i>
													</input>
											</div>
										</div>
								 </div>
									<div class="row">	
									  <div class="col-lg-6"> 									   
										  <div class="form-group">										    
											<label >Name</label><label id="lbl_name" style="color:white">&nbsp *Program Name Should Not Be Empty.</label>
											<input type="text" class="form-control"  pattern="[a-zA-Z\s]+" required="required" name="program_name" id="program_name_txt" placeholder="" style="width: 100%;"></input>
											</div>										
										  </div>											
							
								</div>
									<div class="row">	
								<div class="col-lg-3"> 									   
										  									    
											<label>Objective</label><label id="lbl_Objective" style="color:white">*</label>
											<select style="width:100%" name="program_user_objective_id" id="OBJECTIVE" required>											
											  <option value='' disabled selected>---Select Objective---</option>
   											{% for objective_txt in objecitve_list  %}
											    <option value="{{ objective_txt.objective_id }}">{{ objective_txt.objective }}</option>											    				
											    {% endfor %}	
											</select>
																			
										 </div> 									
									<div class="col-lg-3"> 									   
										  									    
											<label>Gym Access</label><label id="lbl_access" style="color:white">*</label>
											<select style="width:100%" name="program_gym_access" id="GYM_ACCESS"  required>
															<option value='' disabled selected>---Select Gym Access---</option>
											    				<option>Yes</option>
											    				<option>No</option>		
															</select>
																			
										 </div> 
									<!-- <div class="form-group form-group-select2">								 
								 		<div class="col-lg-3"> 							    
															<label>Gym Access</label><label id="lbl_access" style="color:white">*</label>
															<select style="width:100%" name="program_gym_access" id="GYM_ACCESS">
															<option value='Empty' disabled selected>---Select Gym Access---</option>
											    				<option>Yes</option>
											    				<option>No</option>		
															</select>											
														
													
										  		</div>								
									</div> -->
							         <div class="col-lg-3">										
												  <div class="form-group">
													<label >Gender</label><label id="lbl_gender" style="color:white">*</label>
														<select style="width:100%" name="program_user_gender" id="GENDER"  required>
																<option value='' disabled selected>---Select Gender---</option>
											    				<option>Male</option>
											    				<option>Female</option>		
													</select>
												</div>																	
										</div>	
											
										<div class="col-lg-3">
									
												  <div class="form-group">
													<label >Total Days</label>
													<input type="number" class="form-control" name="program_total_days" min="1" max="99" required="required" placeholder=""></input>
													</div>
																
										</div>
								</div>			
									
									
									<div class="row">	
									    <div class="col-lg-4">
											<form role="form">
												  <div class="form-group">
													<label >Intensity</label><label id="lbl_Intensity" style="color:white"> &nbsp *Select Intensity</label>
														<select style="width:100%" name="workout_intensity" id="INTENSITY">
														<option value='Empty' disabled selected>---Select Intensity---</option>														     
											    				<option>Easy</option>
											    				<option>Medium</option>	
											    				<option>Hard</option>		
														</select>
													</div>
											</form>							
										</div>	
										
										<div class="col-lg-4">											
												  <div class="form-group">
														<label >Workout</label><label id="lbl_Workout" style="color:white">&nbsp *Select Workout</label>
															<select style="width:100%" name="workout" id="WORKOUT">	
															<option value='Empty' disabled selected>---Select Workout---</option>																
	<!-- 									{% for workout_obj_txt in workout_list  %}																									    				
												    				<option value="{{workout_obj_txt.workout_id}}">{{workout_obj_txt.workout_name}}</option>
												    				{% endfor %}	 -->
															</select>
													</div>																	
										</div>
										
											<div class="col-lg-3">											
												  <div class="form-group">
													<label >Day</label><label id="lbl_days_dropdown" style="color:white">&nbsp *Select Day</label>
														<select style="width:100%" name="program_workout_day" id="days_dropdown">
														<option value='Empty' disabled selected>---Select Day---</option>	
											    				<option>Sunday</option>
											    				<option>Monday</option>	
																<option>Tuesday</option>
																<option>Wednesday</option>
											    				<option>Thursday</option>	
																<option>Friday</option>	
																<option>Saturday</option>			
														</select>
													</div>																	
										   </div>
										   
											<div class="col-lg-1">	
													<label for="exampleInputEmail1">&nbsp;</label><br>
													<a id="btnAdd" class="btn btn-success">Add</a>
												
											</div>						
										
									</div>
									<!---------------------- Display none------------------------>
									<div class="row">
											<div class="col-lg-3">											
												  <div class="form-group">													
														<select style="width:100%;display:none" name="workout_time" id="workout_time" >
											    				{% for workout_obj_txt in workout_list  %}																									    				
											    				<option value="{{workout_obj_txt.workout_id}}">{{workout_obj_txt.workout_time}}</option>
											    				{% endfor %}											    						
														</select>
													</div>																		
										</div>
										
											<div class="col-lg-3">											
												  <div class="form-group">													
														<select style="width:100%; display:none" name="total_execises" id="total_execises" >
											    				{% for workout_obj_txt in workout_list  %}																									    				
											    				<option value="{{workout_obj_txt.workout_id}}">{{workout_obj_txt.workout_execises}}</option>
											    				{% endfor %}											    						
														</select>
													</div>																
										</div>
									</div>
									<!---------------------- Display none------------------------>		
																			
										<div class="table-responsive">
											<table class="table" id="program_table">
												<thead>
													<tr>														
														<th class="text-center"><span>Workout</span></th>
														<th class="text-center"><span>Days</span></th>
														<th class="text-center"><span>Exercises</span></th>
														<th class="text-center"><span>Time</span></th>
														<th class="text-center"><span>Intensity</span></th>
														<th class="text-center"><span>Delete</span></th>															
														<th>&nbsp;</th>
												  </tr>
											  </thead>
										</table>
									</div>	
										
									</div>		
									</div>
								</div>
								</form>
							</div>
						</div>
					
					</div>	
	<footer id="footer-bar">
	<p id="footer-copyright">
			&copy; 2015-16 <a href="http://www.trainmefit.co.uk/" target="_blank">TrainMeFit</a>
		</p>
	</footer>
	
	<!-- global scripts -->
	<script src="{% static 'assets/js/jquery.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.js'%}"></script>
	
	<!-- this page specific scripts -->
	<script src="{% static 'assets/js/bootstrap-wizard.js'%}"></script>
	<script src="{% static 'assets/js/select2.min.js'%}"></script>
	
	<!-- theme scripts -->
	<script src="{% static 'assets/js/scripts.js'%}"></script>	
	
</body>

<script>

var workout_id_array =[];
var workout_day_array=[];

$('#WORKOUT').click(function(){
	$('#workout_time').val($('#WORKOUT option:selected').val());
	$('#total_execises').val($('#WORKOUT option:selected').val());	
});


$("#btnAdd").click(function()  {	
			
		if($('#INTENSITY option:selected').val()==="Empty"){ 		 
	         $('#lbl_Intensity').css("color", "red");	
		}else{
				$('#lbl_Intensity').css("color", "white"); 
    	}
    		
		if($('#WORKOUT option:selected').val()==="Empty"||$('#WORKOUT option:selected').text()===""){ 		 
	         $('#lbl_Workout').css("color", "red");	
		}else{
				$('#lbl_Workout').css("color", "white"); 
    	}
    	
    	if($('#days_dropdown option:selected').val()==="Empty"){
	         $('#lbl_days_dropdown').css("color", "red");	
		}else{		 	
				 $('#lbl_days_dropdown').css("color", "white"); 
    	}
			
    	
    	if($('#days_dropdown option:selected').val()==="Empty"||$('#WORKOUT option:selected').text()===""||$('#WORKOUT option:selected').val()==="Empty" ||$('#days_dropdown option:selected').val()==="Empty"){ 
		  return false;   
    	}	
				
				if($.inArray($('#days_dropdown option:selected').val(), workout_day_array )>=0){	
				alert('Day is already assigned to other workout !');
				return false;
				}
				
				
				if($.inArray($('#WORKOUT option:selected').val(), workout_id_array )>=0){
 						alert('Workout is already added');
				}else{
				workout_id_array.push($('#WORKOUT option:selected').val());
				workout_day_array.push($('#days_dropdown option:selected').val());
				$("#program_table").append(
				"<tr>"+				
					'<td class="text-center">'+ $('#WORKOUT option:selected').text()+'</td>'+
					'<td class="text-center">'+ $('#days_dropdown').val()+"</td>"+
					'<td class="text-center">'+ $('#total_execises option:selected').text()+'</td>'+
					'<td class="text-center">'+ $('#workout_time option:selected').text()+'</td>'+
					'<td class="text-center">'+ $('#INTENSITY').val()+"</td>"+
					'<td class="text-center"> <a id="b1" class="delete table-link danger deleterow" style="cursor: pointer;" ><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i>' +
							'<i class="fa fa-trash-o fa-stack-1x fa-inverse" onclick="delete_row($(this))"></i> </span></a>'+ '</td>'+					
				"</tr>"				
				);					
				}
							
			});
			
			
			

	$(function($) {	
		
	
		
   $("#INTENSITY").click(function(event){  	
     // 	alert ($('#exercise_gender selected').val());						
      	console.log('I am in event');
		      $.ajax({
				   type	: 'GET',
			      url	: '/get-workout-by-intensity/',
			      data  : {'workout_intensity':$('#INTENSITY option:selected').text()},
			      success: function(response){
				      console.log(response);
				      $('#WORKOUT').html('');	
				      
				      $('#WORKOUT').append('<option value=Empty disabled selected>---Select Workout---</option>');			      
				      $.each(response.workout_list, function(index, item) {
				      		$('#WORKOUT').append('<option value="' +item.workout_id + '">'+item.workout_name+'</option>');
								 console.log(index +' -- ' +item.exercise_id + '--' + item.exercise_name);
						});
					},
					error: function(response){
						console.log("Error"+response);
					}
					
				});
					
		 });			
		
		
	$('#workout_time').val($('#WORKOUT option:selected').val());
	$('#total_execises').val($('#WORKOUT option:selected').val());
	
		//tooltip init
		$('#exampleTooltip').tooltip();

		//nice select boxes
		$('#GYM_ACCESS').select2();
		$('#OBJECTIVE').select2();
		$('#GENDER').select2();
		$('#INTENSITY').select2();
		$('#WORKOUT').select2();
		$('#days_dropdown').select2();
		
		$('#sel2Multi').select2({
			placeholder: 'Select a Country',
			allowClear: true
		});
	
	// This is for toggle switch
	
		$('#myonoffswitch4').change(function() { 
			//$('.onoffswitch-inner').html('Toggle: ' + $(this).prop('checked'));
			console.log($(this).prop('checked'));
			$('#switch_gym').val($(this).prop('checked'));
			
		});
	
	
		//masked inputs
		$("#maskedDate").mask("99/99/9999");
		$("#maskedPhone").mask("(999) 999-9999");
		$("#maskedPhoneExt").mask("(999) 999-9999? x99999");
		$("#maskedTax").mask("99-9999999");
		$("#maskedSsn").mask("999-99-9999");
		
		$("#maskedProductKey").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});
		
		$.mask.definitions['~']='[+-]';
		$("#maskedEye").mask("~9.99 ~9.99 999");
	
		//datepicker
		$('#datepickerDate').datepicker({
		  format: 'mm-dd-yyyy'
		});

		$('#datepickerDateComponent').datepicker();
		
		//daterange picker
		$('#datepickerDateRange').daterangepicker();
		
		//timepicker
		$('#timepicker').timepicker({
			minuteStep: 5,
			showSeconds: true,
			showMeridian: false,
			disableFocus: false,
			showWidget: true
		}).focus(function() {
			$(this).next().trigger('click');
		});
		
		//autocomplete simple
		$('#exampleAutocompleteSimple').typeahead({                              
			prefetch: '/data/countries.json',
			limit: 10
		});
		
		//autocomplete with templating
		$('#exampleAutocomplete').typeahead({                              
			name: 'twitter-oss',                                                        
			prefetch: '/data/repos.json',                                             
			template: [                                                              
				'<p class="repo-language">{{language}}</p>',                              
				'<p class="repo-name">{{name}}</p>',                                      
				'<p class="repo-description">{{description}}</p>'                         
			].join(''),                                                                 
			engine: Hogan                                                               
		});
		
		//password strength meter
		$('#examplePwdMeter').pwstrength({
			label: '.pwdstrength-label'
		});
		
	});
	
function delete_row(row) { 
	workout_id_array.splice($.inArray(row.closest('tr').children('td:first').text(),workout_id_array) ,1 );
	workout_day_array.splice($.inArray(row.closest('tr').children('td:eq(1)').text(),workout_day_array) ,1 );
   row.closest('tr').remove();    
}

function validateAndUpdateProgWorkList(){		
	   
	   if($('#program_name_txt').val().trim()==""){	 			
				$('#lbl_name').css("color", "red");	
		}else{
				$('#lbl_name').css("color", "white");	
		}
	
		if($('#OBJECTIVE option:selected').val().trim()=="Empty"){
		      $('#lbl_Objective').css("color", "red");		
				$('#lbl_Objective').css("font-weight", "bold");
		}else{
				$('#lbl_Objective').css("color", "white");	
		}
		 
		 if($('#GYM_ACCESS option:selected').val().trim()=="Empty"){
		      $('#lbl_access').css("color", "red");		
				$('#lbl_access').css("font-weight", "bold");
		}else{
				$('#lbl_access').css("color", "white");	
		}
		
		if($('#GENDER option:selected').val().trim()=="Empty"){
		      $('#lbl_gender').css("color", "red");		
				$('#lbl_gender').css("font-weight", "bold");
		}else{
				$('#lbl_gender').css("color", "white");	
		}	
		
		if($('#program_name_txt').val().trim()==""||$('#OBJECTIVE option:selected').val().trim()=="Empty"||$('#GYM_ACCESS option:selected').val().trim()=="Empty"||$('#GENDER option:selected').val().trim()=="Empty"){	 
		 return false;
		}
		
		 var rowCount = $('#program_table tr').length-1;
			 if(rowCount<=0){
			  alert('There should be at least one workout! ');
					return false;	 
			 }
			 
		$('#program_workout_list').val(workout_id_array);
		$('#program_workout_day_list').val(workout_day_array);
		

}
	</script>
</html>