<!DOCTYPE html>
<html>
 {% load staticfiles %}
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>TrainMeFit|Forgot Password</title>
	
	<!-- bootstrap -->
	<link href="{% static 'assets/css/bootstrap/bootstrap.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/css/bootstrap/style.css'%}" rel="stylesheet" />	
	
	<!-- libraries -->
	<link href="{% static 'assets/css/libs/font-awesome.css'%}" type="text/css" rel="stylesheet" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/layout.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/compiled/elements.css'%}">

	<!-- google font libraries -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49262924-1', 'phoonio.com');
	  ga('send', 'pageview');

	</script>
	<script type="text/javascript" >
	function recover(){

	alert("Password reset link has been sent to your Email-Id");
			location.href = 'index.html';
	}
</script>

</head>
<body id="login-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div class="row">
						<div class="col-xs-12 clearfix" id="login-box-header">
							<div class="login-box-header-red"></div>
							<div class="login-box-header-green"></div>
							<div class="login-box-header-yellow"></div>
							<div class="login-box-header-purple"></div>
							<div class="login-box-header-blue"></div>
							<div class="login-box-header-gray"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div id="login-box-inner">
								
								<div id="login-logo" style="margin:30px 60px;">
									<div class="circular " ><img class="background" src="{% static 'assets/img/trainmefit.png'%}" alt="" width="45px;">&nbsp;TrainMeFit Admin</div> 			
								</div>
								
							<p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
								<br>
								 <form name="resetPassword" id="resetPasswordform" method="POST" data-abide action="/update-password/" >
								 {% csrf_token %}
								 <input type="hidden" name="user_id" value="{{ user_id }}"></input>
                            <div class="form-group">
                                <label class="control-label" for="password">
                                Enter New Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="new_password" id='txtpassword' class="form-control">
                              
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">
                                Enter Confirmed Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="confirm_password" id='txtcpassword' class="form-control">
                             
                            </div>
									
											<div class="row">
												<div class="col-sm-12">
												 <input type="submit" class="btn btn-success col-xs-12"  value="Change Password"></input>
													
												</div>
											</div>
									</form>
							</div>
						</div>
					</div>								
				</div>
			</div>
		</div>
	</div>
	
	<!-- global scripts -->
	<script src="{% static 'assets/js/jquery.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.js'%}"></script>

	
	<!-- theme scripts -->
	<script src="{% static 'assets/js/scripts.js'%}"></script>
    <script>
        $(document).foundation();
        
    function reset_password(){
        alert("hi");
        if( validateFields() ){
            $.ajax({
                 url    : '/mobile/update-password/',
                type    : 'POST',
               data : $('#resetPasswordform').serialize(),
               success: function(response){  
                    if(response.success == 'true'){ 
                        $('#success_modal').foundation('reveal', 'open');
                    }
                    else{
                        // $('#error_modal').foundation('reveal', 'open');
                        alert('FAILED');
                    }
               }
           }); 
        }else{
            $('#error_modal').foundation('reveal', 'open');
        }
    }
    
    function validateFields(){
         alert("hi");
        if ( $('#txtpassword').val()==null || $('#txtpassword').val()=="" || $('#txtcpassword').val()==null || $('#txtcpassword').val()=="" ){
            $('#errMessageId').text('Please enter password, password should contain at least 1 CAPITAL letter,1 digit and length should be greater than 6.');           
            console.log('Password is null');
            return false;       
        }
        if($('#txtpassword').val().length < 6 || $('#txtcpassword').val() < 6 ){
            $('#errMessageId').text('Please enter password, password should contain at least 1 CAPITAL letter,1 digit and length should be greater than 6.');
            return false;       
        }
        if ($('#txtpassword').val() != $('#txtcpassword').val()){
            $('#errMessageId').text('Password and confirm password are mismatched.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>